# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock

# iOS related
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# macOS
.DS_Store
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Windows
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
